/* TODO siehe Aufgabenblatt02 : Pseudoklassen

font-family:cursive;
color:red;
color:green;
*/

div p:first-child{
    font-family:cursive;
}

div p:last-child{
    color:red;
}

div p:nth-child(3){
    color:green;
}