/*weiter runterscrollen */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.big {
    height: 280px;
    width: 280px;
}

.little {
    height: 50px;
    width: 50px;
}

.red {
    border: 5px ridge #be1622;
    background-color: #e6332a;
}

.blue {
    border: 5px ridge #1d71b8;
    background-color: #36a9e1;
}

.green {
    border: 5px ridge #008d36;
    background-color: #009640;
}

.yellow {
    border: 5px ridge #e94e1b;
    background-color: #f39200;
}

/*
TODO

Versuche dich an den verschiedenen Positionierungsmöglichkeiten static, relative, absolute und fixed.
Beachte wie sich die blaue Box im Browser verhält.
Nutzbare Eigenschaften können sein: top/left/right/bottom : %/px ;
*/

.flexibel {
    position: fixed;
    left: 50%;

}
