
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/*
Versucht diese CSS Datei mit SCSS-Techniken kürzer und übersichtlicher zu machen.
Außerdem soll man wichtige Farben, Fonts und ähnliches zentral verwalten können,
ohne durch die Datei skrollen zu müssen.
*/

@mixin marg_padd($marg, $padd){
    margin: $marg;
    padding: $padd;
}

$text_content: #3B3B3B;
$text_sidebar: #3D2729;
$coop_brown: #A59282;
$coop_green: #5D7144;
$coop_light: #DAE2CF;

body {
    @include marg_padd(0px, 0px);
	background: $coop_light;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: $text_content;
}

h1, h2, h3 {
    @include marg_padd(0px, 0px);
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	letter-spacing: 1px;
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4C5C37;
}

a:hover {
}

/* Header */

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
	background: $coop_brown; 
}

/* Logo */

#logo {
	@include marg_padd(0px, 30px 0px);
	color: #000000;

    h1, p {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        margin: 0px;
        padding: 30px 0px;
        text-align: center;
        text-transform: lowercase;
        font-size: 4em;
        font-weight: 400;
        color: #FFF;
    }
    
    a {
        border: none;
        background: none;
        text-decoration: none;
        color: #FFF;
    }
}
/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;

    form {
        @include marg_padd(0px, 0px);
    }
    
    fieldset {
        @include marg_padd(0px, 0px);
        border: none;
    }
}

#search-text {
	width: 250px;
	outline: none;
	background: #FFF;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: $text_sidebar;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1100px;
	height: 55px;
	@include marg_padd(0px auto, 0px);
	background: $coop_green;

    ul {
        @include marg_padd(0px, 0px 0px 0px 0px);
        list-style: none;
        line-height: normal;
        text-align: center;
    }
    
    li {
        display: inline-block;
        border-right: 1px solid $coop_light;
    }
    
    a {
        display: block;
        letter-spacing: 1px;
        @include marg_padd(0px 10px, 0px 20px);
        line-height: 55px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #FFFFFF;
        border: none;
    }

    a:hover, .current_page_item a {
	   text-decoration: none;
    }
}
/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1000px;
	@include marg_padd(0px auto, 70px 50px 30px 50px);
	padding: 70px 50px 30px 50px;
	background: #FFF;
}

/* Content */

#content {
	float: left;
	width: 620px;
}

.post-alt
{
}

.post {
	margin-bottom: 15px;

    .title {
        height: 38px;
        margin-bottom: 10px;
        padding: 12px 0 0 0px;
        font-size: 28px;
    
        a {
            border: none;
            color: $text_content;
        }
    }
    
    .meta {
        margin-bottom: 30px;
        padding: 5px 0px 15px 0px;
        text-align: left;
        font-weight: normal;
    
        .date {
            float: left;
        }
        
        .posted {
            float: right;
        }
        
        a {
        }
    }
    
    .entry {
        padding: 0px 0px 20px 0px;
        padding-bottom: 20px;
        text-align: justify;
    }
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
}

.button
{
	padding: 10px 25px;
	background: $coop_green;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width:300px;
	margin: 0px;
	color: $text_sidebar;

    p {
        color: $text_sidebar;
    }
    
    
    ul {
        @include marg_padd(0px, 0px);
        list-style: none;
    }
    
    li {
        @include marg_padd(0px, 0px);
    
        ul {
            margin: 0px 0px;
            padding-bottom: 50px;
        }
        
        li {
            border-bottom: 1px solid #D7D0C0;
            @include marg_padd(0px 0px, 10px 0px);
            border-left: none;
            list-style: inside circle;
        
            a {
                color: $text_sidebar;
            }
            
            span {
                display: block;
                padding: 0;
                font-size: 11px;
                font-style: italic;
            }
        }
    }
    
    h2 {
        padding-bottom: 20px;
        font-size: 1.4em;
        color: $text_sidebar;
    }
    
    p {
        margin: 0px 0px 40px 0px;
        padding: 0px;
        text-align: justify;
    }
    
    a {
        border: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

/* Footer */

#footer {
	height: 150px;
	@include marg_padd(0px auto, 0px 0px 15px 0px);
	background: $coop_green;
	border-top: 1px solid $coop_brown;
	font-family: 'Arvo', serif;
    
    p {
        margin: 0;
        padding-top: 40px;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }
    
    a {
        color: #FFFFFF;
    }
}