/* TODO siehe Aufgabenblatt : Kombinatoren02

font-family:Garamond;
font-weight:bold;
color: #7AC5CD;
color: #000000;
*/

p {
    font-family:Garamond;
}

body > p {
        font-weight:bold;
}

div > p {
    color: #7AC5CD;
}

ul p {
    color: #000000;
}