*{
		color:white;
		background-color: #610B4B;
		font-size: 16px;
	}
	
	img{
		width: 200px;
		height: 200px;
	}
	
	h1{
		font-size: 20px;
	}
	
	h2{
		font-size: 18px;
	}
	
	p.rahmen{
		border:1px solid #fff;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-right: 65%;
	}
	
	div#zubereitung{
		margin-top: 30px;
	}